*
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.header
{
    width: 100vw;
    height: 12vh;
    background: #eee;
    z-index: 2;
}

.header > img
{
    width: 5.7vw;
}

.header > h1
{
    position: absolute;
    top: 1vh;
    left: 7vw;
    font-size: 25px;
}

.header > button
{
    position: absolute;
    left: 90vw;
    top: 3vh;
    width: 6vw;
    height: 5vh;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: rgb(51,51,51);
    color: white;
    box-shadow: 2px 2px 2px grey;
}

.sidenav
{
    min-height: 88vh;
    max-height: 115vh;
    width: 20vw;
    position: fixed;
    z-index: 1;
    position: absolute;
    top: 12vh;
    left: 0;
    background-color: rgb(51,51,51);
    overflow-x: hidden;
    padding-top: 10px;
}

.sidenav a
{
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: black;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 4px;
    height: 8vh;
}

.sidenav > a:nth-child(1)
{
    background: #eee;
    box-shadow: 5px 5px 5px black;
}

.sidenav > a:nth-child(2)
{
    background: #eee;
    box-shadow: 5px 5px 5px black;
}

.sidenav > a:nth-child(3)
{
    background: #eee;
    box-shadow: 5px 5px 5px black;
}

.sidenav > a:nth-child(4)
{
    background: #eee;
    box-shadow: 5px 5px 5px black;
}

.sidenav > a:nth-child(5)
{
    background: #eee;
    box-shadow: 5px 5px 5px black;
}

.sidenav > a:nth-child(6)
{
    background: #eee;
    box-shadow: 5px 5px 5px black;
}

.sidenav > a:nth-child(7)
{
    background: #eee;
    box-shadow: 5px 5px 5px black;
}

.sidenav > a:nth-child(8)
{
    background: #eee;
    box-shadow: 5px 5px 5px black;
}

.sidenav > a:nth-child(9)
{
    background: #eee;
    box-shadow: 5px 5px 5px black;
}

.container
{
    position: absolute;
    top: 12vh;
    left: 20vw;
}

.container > h2
{
    overflow: hidden;
}

@media screen and (max-width: 1050px)
{
    .header > img
    {
        width: 15vw;
    }

    .header > h1
    {
        left: 15vw;
        top: 3vh;
        font-size: 30px;
    }

    .header > button
    {
        width: 20vw;
        left: 75vw;
        font-size: 25px;
    }

    .sidenav > a
    {
        padding-top: 40px;
        font-size: 22px;
    }

    .container > h2
    {
        font-size: 40px;
    }

    label
    {
        font-size: 25px;
    }

    .form-control
    {
        width: 60vw;
        height: 10vh;
    }
}

@media screen and (max-width: 800px)
{
    .sidenav > a
    {
        padding-top: 10px;
    }
}

@media screen and (max-width: 450px)
{
    .header > img
    {
        width: 20vw;
    }

    .header > h1
    {
        font-size: 20px;
        left: 20vw;
    }

    .header > button
    {
        left: 70vw;
        width: 20vw;
        font-size: 15px;
    }

    .sidenav > a
    {
        font-size: 12px;
    }

    .container > h2
    {
        font-size: 25px;
    }

    label
    {
        font-size: 20px;
    }
}

@media screen and (max-width: 415px)
{
    .sidenav > a
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 380px)
{
    .sidenav > a
    {
        font-size: 13px;
    }
}

@media screen and (max-width: 370px)
{
    .header > h1
    {
        font-size: 15px;
        top: 1vh;
    }

    .container > h2
    {
        font-size: 20px;
    }

    label
    {
        font-size: 15px;
    }

    .sidenav > a
    {
        font-size: 12px;
    }
}
